name: Github Actions Demo
on:
  push:
    branches: [main]
    paths-ignore: [.github/**]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: [ubuntu-latest]
    steps:
      - run: echo "The name of the event that triggered this workflow is ${{ github.event_name }}"
      - run: echo "The name of the branch that the repository is currently referencing is ${{github.base_ref}}"
      - run: tree
